html,body{
    height: 100%;
}

.year-slider-container{
    background: #fff;
    border-radius: 0.3rem;
}
.year-slider{
    padding:2.6rem 1.2rem 1rem !important;
}

.dash-graph{
    height: 100%;
}

.tab-section-container-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
}
.tab-section{
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: black;
}
.meta-section-wrapper{
    position: relative;
    flex: 1;
}
.meta-section{
    position: absolute;
    top: 0;
    bottom: 0;
}
.meta-section-left{
    flex: 2;
    margin-right: 1rem;
    margin-bottom: 0;
}
.meta-section-right{
    flex: 7;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.meta-data-container{
    overflow-y: scroll;
    flex:1;
}
.meta-gbads-source{
    margin-bottom: 1rem;
    border-radius: 0 0 0.4rem 0.4rem;
}
.meta-source-button{
    cursor: pointer;
    text-align: center;
    background: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    transition: ease-in-out 0.1s;
}
.meta-source-button:hover{
    background-color: lightgray;
}
.meta-source-dropdown{
    background: white;
    padding: 0.5rem;
    border-radius: 0.4rem 0.4rem 0 0;
    margin-bottom: 0;
    border-bottom: solid 1px lightgray;
}
.meta-gbads-button{
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: solid 1px white;
}
.provenance-button{
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 0;
}
.download-button{
    cursor: pointer;
    background: #F7931D;
    width: fit-content;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
    color: #000;
}
.download-container{
    position:absolute !important;
    top: 0;
}

.data-table-container{
    overflow-y: scroll;
    position: absolute;
    bottom: 1rem;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

.tab-section-flex-container{
    flex: 1;
    display: flex;
    margin-bottom: 0 !important;
}
.data-options{
    flex: 1;
    margin-bottom: 0 !important;
    overflow-y: scroll;
}
.data-section{
    position: relative;
    flex: 3;
    margin-left: 1rem;
    margin-bottom: 0 !important;
}
.graph-container{
    position: relative;
    padding: 10px;
    background: white;
    width: 100%;
    height: 100%;
    overflow: clip;
}

.main-graph-size {
    overflow: clip;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
}
/* #world-map{
    width: 120%;
}
.svg-container{
    height: 100% !important;
} */

/* HEADER */
.header-section{
    margin-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-logo{
    max-height: 5vh;
    cursor: pointer;
}

.header-title-div{
    width: 100%;
    justify-content: center;
    display: flex;
}
.header-title{
    margin: 0;
    margin-top: 5px;
    align-items: inherit;
    text-align: center;
}

.mid {
    /* height: calc(100% - 134px); */
    flex: 1;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.graph-size {
    height: 65vh;
    width: 100%;
}

.tab-container{
    display: block;
    width: 57rem;
}
@media only screen and (max-width: 799.9px) {
    .tab-container{
        width: 100%;
    }
    .tab-content {
        border-radius: 0 0 10px 10px !important;
    }
    .cattabs:not(:first-child){
        border-radius: 0;
    }
}

.tab-parent{
    height: 100%;
}
.tab-content{
    height: 100%;
    background-color:#f6f6f6;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}

.cattabs {
    border-bottom: 1px white;
    border-top: 1px white;
    border-left: 1px white;
    background-color: white;
    box-shadow: 1px 1px 0px white;
    color:black;
    border-right: 1px white;
    font-weight: bold;
}

.tab-panel {
    padding: 10px;
    height: 100%;
}

.main-div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
}


/* scroll bar */
    /* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
    /* Track */
::-webkit-scrollbar-track {
    display: none;
    width: 10px;
}
   
    /* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}
  
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
    border-radius: 10px; 
}