html,body{
    height: 100%;
}

.year-slider-container{
    background: #333;
    border-radius: 0.3rem;
}
.year-slider{
    padding:2.6rem 1.2rem 1rem !important;
}

.dash-graph{
    height: 100%;
}

.tab-section-flex-container{
    flex: 1;
    display: flex;
    margin-bottom: 0 !important;
}
.data-options{
    flex: 1;
    margin-bottom: 0 !important;
    overflow-y: scroll;
}
.data-section{
    flex: 3;
    margin-left: 1rem;
    margin-bottom: 0 !important;
}
.graph-container{
    position: relative;
    padding: 10px;
    background: white;
    width: 100%;
    height: 100%;
    overflow: clip;
}

.main-graph-size {
    overflow: clip;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
}
/* #world-map{
    width: 120%;
}
.svg-container{
    height: 100% !important;
} */
.tab-section-container-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
}
.tab-section{
    display: block;
    background: #ececec;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: black;
}

/* HEADER */
.header-section{
    margin-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-logo{
    max-height: 5vh;
    cursor: pointer;
}

.header-title-div{
    width: 100%;
    justify-content: center;
    display: flex;
}
.header-title{
    margin: 0;
    margin-top: 5px;
    align-items: inherit;
    text-align: center;
    text-shadow: 0 3px 5px dimgrey;
}

/* Generic CSS from template */
.tab-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:white;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}

.mid {
    /* height: calc(100% - 134px); */
    flex: 1;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.graph-size {
    height: 65vh;
    width: 100%;
}

.tab-container{
    display: block;
    width: 25rem;
}
@media only screen and (max-width: 799.9px) {
    .tab-container{
        width: 100%;
    }
    .tab-content {
        border-radius: 0 0 10px 10px !important;
    }
    .cattabs:not(:first-child){
        border-radius: 0;
    }
}

.tab-parent{
    height: 100%;
}

.cattabs {
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    background-color: white;
    height: 100%;
    color: rgb(78, 78, 78);
    width: 25%;
}

.tab-panel {
    padding: 10px;
    height: 100%;
}

.main-div {
    display: flex;
    flex-direction: column;
    background-color: #7A7A7A;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
}


/* scroll bar */
    /* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
    /* Track */
::-webkit-scrollbar-track {
    display: none;
    width: 10px;
}
   
    /* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}
  
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
    border-radius: 10px; 
}